<footer class="block block--dark  footer">
    <div class="container grid footer__sections">
      <section class="collapsible footer__section collapsible--expanded">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          <ul class="list">
            <li><a href="#">Website Hosting</a></li>
            <li><a href="#">Free Automated</a></li>
            <li><a href="#">Wordpress</a></li>
            <li><a href="#">Migrations</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsible  footer__section ">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">COMPANY</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          aliquam. Ipsum id dolor ab dicta, iure et totam ullam quas!
        </div>
      </section>
      <section class="collapsible footer__section">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          aliquam. Ipsum id dolor ab dicta, iure et totam ullam quas!
        </div>
      </section>
      <section class="collapsible footer__section ">
        <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">DOMAIN</h2>
          <svg class="icon icon--white collapsible__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
        </header>
        <div class="collapsible__content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus,
          aliquam. Ipsum id dolor ab dicta, iure et totam ullam quas!
        </div>
      </section>
      <section class="footer__brand">
        <img src="images/logo.svg" alt="">
        <p class="footer__copyright">Copyright 2022 Srinivas Veligethi</p>
      </section>
    </div>
  </footer>